/* Feed css*/
#Feed {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fef1e6;
  }
  
  #questionBox {
    color: grey;
    width: 80%;
  }
  
  /* Q&A Feed */
  
  .post-question {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 100px 10px;
  }
  
  .post-question:hover {
    background-color: #ffb085;
  }
  
  .q1 {
    border: 1px solid black;
    border-radius: 5px;
    margin: auto 100px 10px;
    background-color: #90aacb;
  }
  
  /* Votes, answers, and views */
  
  .col_left {
    width: 10%;
  }
  
  .col_left p {
    width: 80%;
    text-align: center;
  }
  
  .answer-button {
    background-color: #f9d5a7;
    border-radius: 5px;
  }
  
  .answer-button:hover {
    background-color: #ffb085;
  }
  
  /* Upvote, downvote button*/
  .col_left .up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 25px solid blue;
  }
  
  .col_left .down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 25px solid red;
  }
  
  .up,
  .down {
    width: 80%;
    text-align: center;
    height: 15px;
  }
  
  .down:hover,
  .up:hover {
    background-color: #ffb085;
  }
  
  .col_left #vote {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 80%;
  }
  
  /* Question and description */
  
  .col_right {
    width: 90%;
  }
  
  .question {
    font-size: 20px;
    color: #fef1e6;
  }
  
  .question:hover {
    color: #ffb085;
  }
  
  .description {
    color: dimgray;
    font-size: 14px;
    overflow: hidden;
    height: 50px;
    line-height: 25px;
    position: relative;
    word-wrap: break-word;
  }
  
  .description:after {
    content: "...";
    background: #ffb085;
    position: absolute;
    right: 0;
    bottom: 2px;
  }
  
  /* User info */
  
  .user {
    font-size: 14px;
  }
  
  .user_pf {
    width: 40px;
    height: 40px;
    align-content: right;
  }
  
  .user_link {
    font-size: 14px;
  }  